hart.App-link {
  color: #61dafb;
}

body {
  background-color: #f5f2e8;
  font-family: "Josefin Sans", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.centerMap {
  margin: 0 auto;
  height: 400px;
  width: 80%;
  /* padding-right: 10; */
}

.centerMapTable {
  margin: 0 auto;
  height: 400px;
  width: 80%;
  text-align: center;
}

/* chart */
.chartContainer {
  display: flex;
}

.chartPie {
  width: 50%;
  margin-top: -5%;
  margin-bottom: -10%;
}

.ct-slice-pie {
  fill: #ffcc00;
  stroke: white;
  stroke-width: 1px;
}

/* table */
.chartTable {
  width: 50%;
}

.displayTable {
  border-collapse: collapse;
  width: 100%;
}

.tableScrollable {
  overflow-y: auto;
  max-height: 400px;
}

.tableHeader {
  font-style: italic;
  position: sticky;
  top: 0;
  background-color: white;
}

.tableRow {
  border-bottom: 1px solid #cc6600 !important;
}

.tableCell {
  padding: 10px;
  color: #cc6600;
  /* text-align: left; */
}

.secondaryRows {
  text-align: center;
}

/* mobile format */
@media screen and (max-width: 400px) {
  .chartContainer {
    display: block;
  }

  .chartPie {
    width: 100%;
    margin-top: -20%;
    margin-bottom: -20%;
  }

  .chartTable {
    width: 100%;
  }
}

.centerText {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #cc6600;
}

.helpExpansionPanel::before {
  content: none !important;
}

.totalTitle {
  color: #cc6600;
  text-align: center;
}

.mapControlsTable {
  width: 100%;
  margin-bottom: 20;
  table-layout: "fixed";
}

.mapControlsContainer {
  margin: 0 auto;
  width: 80%;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mapControls {
  width: 50%;
  text-align: center;
}

/* .mapControlsColumn {
  width: "50%" !important;
  overflow: hidden;
}

.mapControlsDropDown {
  min-width: 150;
  max-width: "100%";
} */
